/**************************/
/******   BTN COLOR   *****/
/**************************/
.s2s_contenedor .s2s_btn.active .s2s_flecha {
  opacity: 1; }
.s2s_contenedor .s2s_btn a.s2s_icon {
  color: #fff; }
  .s2s_contenedor .s2s_btn a.s2s_icon span.s2s_social_text {
    color: #fff; }
  .s2s_contenedor .s2s_btn a.s2s_icon .s2sfo {
    color: #fff; }
.s2s_contenedor .s2s_btn .s2s_flecha {
  content: ' ';
  position: absolute;
  border: 8px solid;
  border-color: #D6D6D6 transparent transparent transparent;
  z-index: 99999;
  top: -1px;
  -webkit-transition: opacity 300ms;
  -webkit-transition-delay: 100ms;
  opacity: 0; }
.s2s_contenedor .s2s_twitter {
  background-color: #3894b6; }
  .s2s_contenedor .s2s_twitter:hover, .s2s_contenedor .s2s_twitter.active {
    background-color: #00aced; }
  .s2s_contenedor .s2s_twitter .s2s_flecha {
    border-color: #00aced transparent transparent transparent; }
  .s2s_contenedor .s2s_twitter .s2s_a_btn {
    background-color: #3894b6; }
    .s2s_contenedor .s2s_twitter .s2s_a_btn:hover {
      background-color: #00aced; }
.s2s_contenedor .s2s_facebook {
  background-color: #526282; }
  .s2s_contenedor .s2s_facebook:hover, .s2s_contenedor .s2s_facebook.active {
    background-color: #3b5998; }
  .s2s_contenedor .s2s_facebook .s2s_flecha {
    border-color: #3b5998 transparent transparent transparent; }
.s2s_contenedor .s2s_pinterest {
  background-color: #a4484c; }
  .s2s_contenedor .s2s_pinterest:hover, .s2s_contenedor .s2s_pinterest.active {
    background-color: #cb2027; }
  .s2s_contenedor .s2s_pinterest .s2s_flecha {
    border-color: #cb2027 transparent transparent transparent; }
.s2s_contenedor .s2s_linkedin {
  background-color: #2a6d8c; }
  .s2s_contenedor .s2s_linkedin:hover, .s2s_contenedor .s2s_linkedin.active {
    background-color: #007bb6; }
  .s2s_contenedor .s2s_linkedin .s2s_flecha {
    border-color: #007bb6 transparent transparent transparent; }
.s2s_contenedor .s2s_gplus {
  background-color: #b66a60; }
  .s2s_contenedor .s2s_gplus:hover, .s2s_contenedor .s2s_gplus.active {
    background-color: #dd4b39; }
  .s2s_contenedor .s2s_gplus .s2s_flecha {
    border-color: #dd4b39 transparent transparent transparent; }
.s2s_contenedor .s2s_wapp {
  background-color: #43d854; }
  .s2s_contenedor .s2s_wapp:hover, .s2s_contenedor .s2s_wapp.active {
    background-color: #37AF45; }
  .s2s_contenedor .s2s_wapp .s2s_flecha {
    border-color: #37AF45 transparent transparent transparent; }
  .s2s_contenedor .s2s_wapp .s2s_a_btn {
    background-color: #43d854; }
    .s2s_contenedor .s2s_wapp .s2s_a_btn:hover {
      background-color: #37AF45; }
.s2s_contenedor .s2s_tumblr {
  background-color: #41515f; }
  .s2s_contenedor .s2s_tumblr:hover, .s2s_contenedor .s2s_tumblr.active {
    background-color: #32506d; }
  .s2s_contenedor .s2s_tumblr .s2s_flecha {
    border-color: #32506d transparent transparent transparent; }
.s2s_contenedor .s2s_vk {
  background-color: #57687d; }
  .s2s_contenedor .s2s_vk:hover, .s2s_contenedor .s2s_vk.active {
    background-color: #45668e; }
  .s2s_contenedor .s2s_vk .s2s_flecha {
    border-color: #45668e transparent transparent transparent; }
.s2s_contenedor .s2s_tgram {
  background-color: #127fb6; }
  .s2s_contenedor .s2s_tgram:hover, .s2s_contenedor .s2s_tgram.active {
    background-color: #0088cc; }
  .s2s_contenedor .s2s_tgram .s2s_flecha {
    border-color: #0088cc transparent transparent transparent; }
  .s2s_contenedor .s2s_tgram .s2s_a_btn {
    background-color: #127fb6; }
    .s2s_contenedor .s2s_tgram .s2s_a_btn:hover {
      background-color: #0088cc; }
.s2s_contenedor .s2s_flipb {
  background-color: #c21010; }
  .s2s_contenedor .s2s_flipb:hover, .s2s_contenedor .s2s_flipb.active {
    background-color: #8c1010; }
  .s2s_contenedor .s2s_flipb .s2s_flecha {
    border-color: #8c1010 transparent transparent transparent; }
.s2s_contenedor .s2s_delio {
  background-color: #257acc; }
  .s2s_contenedor .s2s_delio:hover, .s2s_contenedor .s2s_delio.active {
    background-color: #1e61a3; }
  .s2s_contenedor .s2s_delio .s2s_flecha {
    border-color: #1e61a3 transparent transparent transparent; }
  .s2s_contenedor .s2s_delio .s2s_a_btn {
    background-color: #257acc; }
    .s2s_contenedor .s2s_delio .s2s_a_btn:hover {
      background-color: #1e61a3; }
.s2s_contenedor .s2s_reddit {
  background-color: #ea6a3a; }
  .s2s_contenedor .s2s_reddit:hover, .s2s_contenedor .s2s_reddit.active {
    background-color: #ff4500; }
  .s2s_contenedor .s2s_reddit .s2s_flecha {
    border-color: #ff4500 transparent transparent transparent; }
  .s2s_contenedor .s2s_reddit .s2s_a_btn {
    background-color: #ea6a3a; }
    .s2s_contenedor .s2s_reddit .s2s_a_btn:hover {
      background-color: #ff4500; }
.s2s_contenedor .s2s_email {
  background-color: #257acc; }
  .s2s_contenedor .s2s_email:hover, .s2s_contenedor .s2s_email.active {
    background-color: #0076e8; }
  .s2s_contenedor .s2s_email .s2s_flecha {
    border-color: #0076e8 transparent transparent transparent; }
  .s2s_contenedor .s2s_email .s2s_a_btn {
    background-color: #257acc; }
    .s2s_contenedor .s2s_email .s2s_a_btn:hover {
      background-color: #0076e8; }

/**************************/
/******   BALLOON  *****/
/**************************/
.globo {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border: 0 solid #ccc;
  border-radius: 0 4px 4px 4px;
  box-shadow: 1px 2px 4px #aaa; }

.s2s_balloon_top .globo {
  border-bottom: solid 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px; }
.s2s_balloon_top .s2s_twitter .globo {
  border-color: #00aced; }
.s2s_balloon_top .s2s_facebook .globo {
  border-color: #3b5998; }
.s2s_balloon_top .s2s_pinterest .globo {
  border-color: #cb2027; }
.s2s_balloon_top .s2s_linkedin .globo {
  border-color: #007bb6; }
.s2s_balloon_top .s2s_gplus .globo {
  border-color: #dd4b39; }
.s2s_balloon_top .s2s_wapp .globo {
  border-color: #37AF45; }
.s2s_balloon_top .s2s_tumblr .globo {
  border-color: #32506d; }
.s2s_balloon_top .s2s_vk .globo {
  border-color: #45668e; }
.s2s_balloon_top .s2s_email .globo {
  border-color: #257acc; }
.s2s_balloon_top .s2s_reddit .globo {
  border-color: #ff4500; }
.s2s_balloon_top .s2s_delio .globo {
  border-color: #1e61a3; }
.s2s_balloon_top .s2s_tgram .globo {
  border-color: #0088cc; }
.s2s_balloon_top .s2s_flipb .globo {
  border-color: #8c1010; }

/*boton +*/
div.s2s_mas {
  background-color: #ccc; }
  div.s2s_mas a i {
    color: #333; }

.is_on_screen.globo {
  border-radius: 4px 0 4px 4px; }

/**********************/
/****** EXPERIMENTAL  *****/
/**********************/
/*
$cantidad :8px;
@supports ((-webkit-backdrop-filter: blur($cantidad)) or (backdrop-filter: blur($cantidad))) {
  .globo {
    background-color: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: blur($cantidad);
    backdrop-filter: blur($cantidad);
  }
}
*/

/*# sourceMappingURL=colour.css.map */
